.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #E50914;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: red;
}

.banner_content{
    position: absolute;
    top: 35%;
    padding-left: 140px;
}
.movie-name{
   font-size: 40px;
    font-weight: 600;
}
button.btn.btn-custom-button {
    border: 1.5px solid #E50914;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: 500;
    margin-right: 15px;
    border-radius: none;
    transition: 700ms;
    background: #00000096;
}
button.btn.btn-custom-button:hover{
   background: #E50914;
   transition: 700ms;
   border: 1.5px solid #E50914;
   color: #111111;
}
.banger_discription{
   width: 50%;
   text-align: justify;
}