section{
   background-color: black;
   padding-bottom: 70px;
   padding-top: 70px;
}
.second_section{
    padding-top: 70px;
    color: #fff;
}
.second_section h2{
  font-size: 48px;
    font-weight: 700;
}
.second_section p{
  font-size: 27px;
    font-weight: 500;
    width: 83%;
    padding-top: 9px;
    color: #ffffffe3;
}
.our-story-card-img{
   position: relative;
   width: 100%;
   z-index: 999;
   
}
.our-story-card-video{
    position: absolute;
    top: 55px;
    left: 74px;
    content: "";
    margin: auto;
   
    max-height: 238px;
    overflow: hidden;
    max-width: 69%;
    margin-top: 14px;
}
.nav-link-color{
   color: #777777;
    font-size: 16px;
    font-weight: 400;
}