.header{
   position: fixed;
   width: 100%;
   z-index: 100;
   
}
nav.nav.false.navbar.navbar-expand-lg.navbar-light {
    transition: 3s;
}
.nav_bg{
   background: #111111;
   transition: 2s;
}
.right-avatar{
   width: 40px;
}

.mr-auto.navbar-nav {
    margin-bottom: 3px;
}
