.header{
   position: fixed;
   width: 100%;
   z-index: 100;
   
}
.nav-color {
    color: rgb(255 255 255 / 81%)!important;
    /* font-size: 18px; */
}
nav.nav.false.navbar.navbar-expand-lg.navbar-light {
    transition: 3s;
}
.nav_bg{
   background: #111111;
   transition: 1s;
}
.right-avatar{
   width: 40px;
}

.mr-auto.navbar-nav {
    margin-bottom: 2px;
}
