.Row{
   margin-left: 20px;
   margin-top: 70px;
}
.row_posters{
   display: flex;
   overflow-y: hidden;
   overflow-x: scroll;
   padding:20px;
   position: relative;
}
.row_posters::-webkit-scrollbar{
   display: none;
}
.row_poster{
   max-height: 300px;
   margin-right: 10px;
   object-fit: contain;
  transition: 700ms;  
}
.row_poster:hover{
       transform: rotate(360deg);
       transition: 700ms;
}

